@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --white: hsl(0, 0, 100%);

  /* Neutral */
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

html {
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
  background: var(--LightGray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--LightGray);
  font-weight: 700;
}
.container {
  margin: 1.875rem 1.25rem;
  box-shadow: 0px 0px 10px 0px #0202024c;
  border-radius: 0.5rem;
}

.card {
  padding: 1.375rem;
}

.top {
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.top h2 {
  color: var(--Cyan);
  padding: 0.625rem 0 0.313rem;
  font-size: 1.2rem;
}
.top h3 {
  color: var(--BrightYellow);
  padding: 0.938rem 0;
  font-size: 1.1rem;
}

.top p {
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 0.625rem;
  color: var(--GrayishBlue);
}

.mid {
  color: var(--LightGray);
  background: var(--Cyan);
}

.mid h2 {
  padding: 0.313rem 0 0.313rem;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.dollar {
  font-size: 2.25rem;
  font-weight: 700;
  padding-right: 0.9rem;
}

.mid p {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.month {
  opacity: 0.5;
}

.btn {
  display: block;
  padding: 0.938rem 1.25rem;
  width: 100%;
  text-align: center;
  background: var(--BrightYellow);
  border-radius: 5px;
  margin: 1.875rem 0 0.313rem;
  box-shadow: 1px 2px 7px -4px black;
}

.bottom {
  background: rgba(74, 190, 189, 255);
  color: var(--LightGray);
  border-radius: 0 0 0.5rem 0.5rem;
}

.bottom h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.bottom p {
  line-height: 1.4;
  font-size: 0.875rem;
}

@media all and (min-width: 1440px) {
  .card {
    padding: 2rem;
  }

  .container {
    display: grid;
    grid-column: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 40.5rem;
    max-height: 27.18rem;
  }

  .top {
    grid-area: 1/1/2/3;
  }

  .top h2 {
    font-size: 1.5rem;
  }

  .top p {
    padding-right: 45px;
  }

  .mid {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 0 0 0 0.5rem;
  }

  .mid h2 {
    font-size: 1.2rem;
  }
  .btn{
    width: 85%
  };

  .bottom {
    grid-area: 2/2/3/3;
    border-radius: 0 0 0.5rem 0;
  }

  .bottom p {
    line-height: 1.5;
    font-size: 0.875rem;
  }
}

/* attributaion */
.attribution {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
